# ------------------------------------------------------------------------------
# This is free and unencumbered software released into the public domain.
#
# Anyone is free to copy, modify, publish, use, compile, sell, or distribute
# this software, either in source code form or as a compiled binary, for any
# purpose, commercial or non-commercial, and by any means.
#
# In jurisdictions that recognize copyright laws, the author or authors of this
# software dedicate any and all copyright interest in the software to the
# public domain. We make this dedication for the benefit of the public at large
# and to the detriment of our heirs and successors. We intend this dedication
# to be an overt act of relinquishment in perpetuity of all present and future
# rights to this software under copyright law.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
# ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# For more information, please refer to <http://unlicense.org>
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# MariaDB configuration.
#
# AUTHOR:    Richard Fussenegger <richard@fussenegger.info>
# COPYRIGHT: 2015 Richard Fussenegger
# LICENSE:   http://unlicense.org/ PD
# ------------------------------------------------------------------------------

[client]
default_character_set       = utf8
socket                      = /var/run/mysqld/mysqld.sock

[mysqld_safe]
log_error                   = /var/log/mysql/error.log
nice                        = 0
skip_syslog                 = true
socket                      = /var/run/mysqld/mysqld.sock

[mysqld]
back_log                    = 32000
basedir                     = /usr
character_set_server        = utf8
collation_server            = utf8_general_ci
concurrent_insert           = 2
connect_timeout             = 5
datadir                     = /var/lib/mysql
default_storage_engine      = InnoDB
enable_feedback             = true
expire_logs_days            = 10
innodb_buffer_pool_size     = 256M
innodb_file_per_table       = true
innodb_flush_method         = O_DIRECT
innodb_flush_neighbor_pages = cont
innodb_io_capacity          = 400
innodb_log_buffer_size      = 8M
innodb_open_files           = 400
join_buffer_size            = 4M
key_buffer_size             = 128M
large_pages                 = true
lc_messages                 = en_US
lc_messages_dir             = /usr/share/mysql
log_bin                     = /var/log/mysql/mariadb-bin
log_bin_index               = /var/log/mysql/mariadb-bin.index
log_slow_rate_limit         = 1000
log_slow_verbosity          = query_plan
log_warnings                = 2
long_query_time             = 10
max_allowed_packet          = 16M
max_binlog_size             = 100M
max_connections             = 100
max_heap_table_size         = 32M
myisam_recover_options      = BACKUP
myisam_sort_buffer_size     = 512M
pid_file                    = /var/run/mysqld/mysqld.pid
query_cache_limit           = 128K
query_cache_size            = 64M
query_cache_type            = DEMAND
read_buffer_size            = 2M
read_rnd_buffer_size        = 1M
skip_name_resolve           = true
skip_networking             = true
slow_query_log_file         = /var/log/mysql/slow.log
socket                      = /var/run/mysqld/mysqld.sock
sort_buffer_size            = 4M
table_cache                 = 400
thread_cache_size           = 128
tmp_table_size              = 32M
tmpdir                      = /tmp
wait_timeout                = 600
user                        = mysql

[mysqldump]
quick                       = true
quote_names                 = true
max_allowed_packet          = 16M

[isamchk]
key_buffer                  = 16M

!includedir /etc/mysql/conf.d/
